#external_css {
	color: yellow;
}

* {
	font-family: "arial", monospace;
	font-size: 16px;
}

h1 {
	font-size: 3rem;
}

#h2-tag {
	text-transform: uppercase;
}

.languages {
	background-color: #aed0a1;
}

[value] {
	border: 2px solid #99b1cf;
}

img + ul {
	list-style-type: none;
}

section img {
	height: 75px;
	width: 75px;
	border-radius: 50%;
}

h2 ~ p {
	text-align: center;
}

ul > li {
	letter-spacing: 5px;
}